{% extends "nav.html" %}
{% block body %}

<div class="container p-5">
    <h4 class="text-center">Create New Contact</h4>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form method="post" action="{% url 'create_contact' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mt-3">
                    <label for="">Name:</label>
                    <input name="cname" type="text" class="form-control" required>
                </div>
                <div class="mt-3">
                    <label for="">Mobile:</label>
                    <input name="cmob" type="tel" class="form-control"required>
                </div>
                <div class="mt-3">
                    <label for="">Image:</label>
                    <input type="file" name="file" class="form-control" accept="image/*">
                </div>
                <div class="text-center p-3">
                    <button type="submit" class="btn btn-success w-25">Save</button>
                </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>

{% endblock body %}